
# Deep Learning Frameworks
tensorflow-cpu>=2.0.0
torch>=2.0.0
tf-keras

# Financial Analysis
yfinance
pandas-datareader

# Data Processing
pandas
numpy==1.26.4

# Machine Learning
scikit-learn

# APIs
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
youtube-transcript-api

# Utilities
requests
tqdm

# Video Processing
opencv-python-headless==4.7.0.72
moviepy

# NLP
spacy>=3.0.0
transformers==4.48.3
huggingface-hub
